<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="/dashboardPages/Userheader :: head"></head>

<body>
<span th:replace="/dashboardPages/Userheader :: header"></span>
  <span></span>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">
        <h1 th:text="'Welcome to Car Workshop Manager'" style="text-align: center; color: white"></h1>
      </div>
      <div class="content" style="background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));">
        <div class="row">
        </div>
        <div class="row">
        </div>
      </div>
      <span th:replace="/dashboardPages/Userfooter :: footer"></span>
</body>

</html>