<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="/dashboardPages/Userheader :: head"></head>

<body>
<span th:replace="/dashboardPages/Userheader :: header"></span>
  <span></span>
      <!-- End Navbar -->
      <div class="panel-header">
        <h1 th:text="'Car Workshop Manager'" style="text-align: center; color: white"></h1>
          <br>
          <h2 th:text="'Visits'" style="text-align: center; color: white"></h2>
      </div>
      <div class="content" style="background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));">
          <div class="row">
              <br>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Visits</h4>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                  <th>
                                      No.
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Time
                                  </th>
                                  <th>
                                      Status
                                  </th>
                                  <th>
                                      Workshop
                                  </th>
                                  <th>
                                      Cost
                                  </th>
                                  <th class="text-center">
                                      Actions
                                  </th>
                                  </thead>
                                  <tbody>
                                  <tr th:each="order, state : ${userOrderList}">
                                      <td th:text="${state.count}"></td>
                                      <td th:text="${order.getVisitDate().getDate()}"></td>
                                      <td th:text="${order.getVisitDate().getTime()}"></td>
                                      <td th:text="${order.getStatus()}"></td>
                                      <td th:text="${order.getVisitDate().getWorkshop().getCity()} + ', ' +
                                      ${order.getVisitDate().getWorkshop().getStreet()} + ' ' +
                                      ${order.getVisitDate().getWorkshop().getNumber()}"></td>
                                      <td th:text="${order.getCost()}"></td>
                                      <td class="text-center">
                                          <a th:href="@{/dashboard/user/visits/view(id=${order.getId()})}" class="btn btn-primary">View</a>
                                          <a th:href="@{/dashboard/user/visits/delete(id=${order.getId()})}" class="btn btn-danger">Delete</a>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        <div class="row">
        </div>
      </div>
      <span th:replace="/dashboardPages/Userfooter :: footer"></span>
</body>

</html>